zmt.core/zmt.general/src/test/resources/de/zmt/util/schema.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:complexType name="validatingDefinition">
    <xs:sequence>
      <xs:element name="attribute" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="validatingParams">
    <xs:sequence>
      <xs:element name="validatingDefinition" type="validatingDefinition" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

